<div class="container-fluid">
  <%- include('component/profile') %>
  <hr />
  <%- include('component/order') %>
  <hr />
  <%- include('component/product') %>
</div>

<%- include('component/modal') %>
